header {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	z-index: 5;

	.header-logo {
		width: 5rem;
		height: 2rem;
		position: relative;
		img {
			object-fit: contain;
		}
	}

	nav {
		display: flex;
		align-items: center;
		gap: 2rem;

		a {
			height: 2rem;
			display: grid;
			place-items: center;
			width: 2rem;
			font-size: 1.25rem;
			color: black;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: rgb(214, 214, 214);
			}
		}
	}
}
