$move-initial: calc(-25%);
$move-final: calc(-50%);

.home {
	position: relative;
	height: 100vh;
	width: 100%;
}

#banner {
	width: 100%;

	.banner__content {
		width: 100%;
		display: flex;

		justify-content: space-between;
		align-items: center;
		padding: 2rem 5rem;

		.banner__message {
			font-size: 1.25rem;
			width: 320px;
		}
		@media (max-width: $layout-breakpoint-medium) {
			flex-direction: column;
			align-items: flex-start;
			font-size: 1rem;
			padding: 2rem 1rem;
		}
	}

	.banner-row {
		position: relative;
		overflow: hidden;
		display: flex;
		align-items: center;
		height: auto;
		&.center {
			justify-content: center;
			text-align: center;
			.row-letter {
				left: 0;
			}
		}
		@media (max-width: $layout-breakpoint-medium) {
			&:first-child {
				margin-top: 48px;
			}
		}
		.scroll {
			height: 160px;
			width: 160px;
			border: 2px solid black;
			border-radius: 100%;
			background: $white;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			left: 160px;
			@media (max-width: $layout-breakpoint-medium) {
				left: 60px;
			}
			@media (max-width: 1240px) {
				display: none;
			}
			span {
				font-size: 18px;
				font-weight: 600;
				margin: 4px 0;
				@media (max-width: $layout-breakpoint-xsmall) {
					font-size: 10px;
					margin: 2px 0;
				}
			}
		}
	}

	.row-title,
	.row-letter {
		font-size: 15rem;
		font-weight: 500;
		position: relative;
		display: inline-block;
		white-space: nowrap;
		@media (max-width: $layout-breakpoint-small) {
			font-size: 10rem;
		}
		@media (max-width: $layout-breakpoint-xsmall) {
			font-size: 7rem;
		}
	}

	.banner-img {
		position: relative;
		z-index: -1;
		padding: 0 1rem;
		top: -128px;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		.img-container {
			position: relative;
			width: 100%;
			aspect-ratio: 1 / 1;
			overflow: hidden;

			.scroll-ani {
				position: relative;
				width: 100%;
				height: 100%;
			}
			img {
				object-position: 0% 0%;
				object-fit: cover;
			}
			@media (max-width: $layout-breakpoint-small) {
				height: 30rem;
			}
		}
		@media (max-width: $layout-breakpoint-small) {
			top: -100px;
		}
	}
}

.marquee {
	position: relative;
	overflow: hidden;
	&.animate .marquee__inner {
		animation-play-state: running;
	}
	.marquee__inner {
		width: fit-content;
		display: flex;
		padding: 2rem 0;
		position: relative;
		transform: translate3d($move-initial, 0, 0);
		animation: marquee 4s linear infinite;
		animation-play-state: paused;
		@media (min-width: $layout-breakpoint-large) {
			transform: translate3d(calc(-25% + 10vw), 0, 0);
			animation: marquee-lg 4s linear infinite;
			animation-play-state: paused;
		}
	}
	.row-title {
		padding: 0 8vw;
		@media (min-width: $layout-breakpoint-large) {
			padding: 0 10vw;
		}
	}
	.bigger-row-title {
		font-size: 18rem;
		font-weight: 500;
		font-family: var(--secondary-font), sans-serif;
		font-style: italic;
		position: relative;
		display: inline-block;
		white-space: nowrap;
		padding: 0 5vw;
		@media (max-width: $layout-breakpoint-large) {
			padding: 0 10vw;
		}
		@media (max-width: $layout-breakpoint-xsmall) {
			font-size: 10rem;
		}
	}
}

@keyframes marquee {
	0% {
		transform: translate3d($move-initial, 0, 0);
	}

	100% {
		transform: translate3d($move-final, 0, 0);
	}
}

@keyframes marquee-lg {
	0% {
		transform: translate3d(calc(-25% + 10vw), 0, 0);
	}

	100% {
		transform: translate3d(calc(-50% + 10vw), 0, 0);
	}
}

.section-1 {
	width: 100%;
	padding: 2rem 1rem;

	.section-1__info {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 3rem;

		@media (max-width: $layout-breakpoint-small) {
			gap: 1.5rem;
		}
		.section-1__info__index {
			p {
				font-size: 1.5rem;
			}
		}

		.section-1__info__content {
			display: flex;
			flex-direction: column;
			gap: 5rem;
			width: 70rem;

			@media (max-width: $layout-breakpoint-small) {
				gap: 3rem;
			}

			.section-1__info__eng {
				font-size: 3rem;
				@media (max-width: $layout-breakpoint-small) {
					font-size: 1.75rem;
				}
				@media (max-width: $layout-breakpoint-xsmall) {
					font-size: 1.5rem;
				}
			}
			.section-1__info__jp {
				font-size: 1.5rem;
				@media (max-width: $layout-breakpoint-small) {
					font-size: 1rem;
				}
				@media (max-width: $layout-breakpoint-xsmall) {
					font-size: 0.75rem;
				}
			}
		}
	}
}

.corners {
	width: 100%;
	display: flex;
	justify-content: space-between;

	&:first-child {
		margin-bottom: 10rem;
	}
	&:last-child {
		margin-top: 10rem;
		p {
			font-size: 1rem;
		}
	}
}

.divider {
	width: 100%;
	height: 1px;
	background-color: black;
	margin-bottom: 10rem;
}

.model-container {
	margin-bottom: 10rem;
	padding: 0 1rem;
}

.model {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 1rem;

	@media (max-width: $layout-breakpoint-medium) {
		flex-direction: column;
		align-items: flex-start;
	}

	.model-text {
		width: 66%;
		p {
			font-size: 15rem;
			span {
				font-family: var(--secondary-font), sans-serif;
				font-size: 20rem;
				font-style: italic;
			}
		}
		@media (max-width: $layout-breakpoint-medium) {
			width: 100%;
			p {
				font-size: 10rem;
				span {
					font-size: 10rem;
				}
			}
		}
		@media (max-width: $layout-breakpoint-small) {
			width: 100%;
			p {
			}
		}
	}

	.model-content {
		width: 33%;
		height: 100%;
		padding: 4rem 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		gap: 2rem;
		@media (max-width: $layout-breakpoint-medium) {
			width: 100%;
		}

		a {
			display: flex;
			align-items: center;
			gap: 5px;

			span {
				display: flex;
				align-items: center;
			}
		}
	}
}

.underline-left {
	transform-origin: 0;
	width: 100%;
	height: 1px;
	background-color: black;
}

.section-2 {
	max-width: 70%;
	margin: 0 auto;
	.divider {
		margin-bottom: 5rem;
		transform-origin: 50% 50%;
	}

	.img-container {
		position: relative;
		width: 100%;
		aspect-ratio: 2 / 1;

		img {
			object-fit: cover;
		}
		.img-overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;
			background: none;
			transition: background 1s ease;

			p {
				color: white;
				opacity: 0;
				transition: opacity 1s ease;
				font-size: 10rem;

				@media (max-width: $layout-breakpoint-medium) {
					font-size: 5rem;
				}
			}

			&:hover {
				background: rgba(1, 1, 1, 0.6);
			}
			&:hover > p {
				opacity: 1;
			}
		}
	}

	&__content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 10rem;
		margin-bottom: 5rem;

		@media (max-width: $layout-breakpoint-medium) {
			gap: 5rem;
		}
		@media (max-width: $layout-breakpoint-small) {
			flex-direction: column;
			gap: 3rem;
		}
	}

	@media (max-width: $layout-breakpoint-small) {
		max-width: 100%;
		padding: 0 1rem;
	}
}
